<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iot.drivesafe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".User"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logodrivesafe"
        android:supportsRtl="true"
        android:theme="@style/Theme.DriveSafe"
        tools:ignore="Instantiatable">

        <activity android:name=".UserProfileActivity"
            android:parentActivityName=".UserHomeActivity"
            android:label="@string/user_profile" />

        <activity android:name=".Alcohol"
            android:parentActivityName=".UserHomeActivity"
            android:label="@string/alcohol_info" />

        <activity android:name=".UserHomeActivity"
            android:label="@string/welcome"/>

        <activity android:name=".PaymentsActivity"
            android:parentActivityName=".UserHomeActivity"
            android:label="@string/my_wallet" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".Balance"
            android:label="@string/add_money"
            android:parentActivityName=".UserHomeActivity"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>